.git
.gitignore

node_modules
**/node_modules

.next
.next-dev
.next-build
**/.next
**/.next-dev
**/.next-build

.turbo
**/.turbo
dist
build
**/dist
**/build
*.tsbuildinfo

.env
.env.*
!.env.example

.DS_Store
.trae
.ui

pnpm-debug.log*
npm-debug.log*
*.log
